@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap");

:root {
  --primary: hsl(204, 88%, 56%);
  --gray: hsl(0, 0%, 80%);
  --fs-sm: 0.8rem;
  --fs-md: 1rem;
  --fs-lg: 1.2rem;
  --fs-xl: 1.6rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: white;
  min-height: 100vh;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ori__container {
  width: 100%;
  background: #f1f5f7;
  border-radius: 8px;
  padding: 50px 0;
}

.header {
  width: 70%;
  margin: 10px auto 10px;
  text-align: center;
}

.header h2 {
  font-size: clamp(1.1rem, 2.5vw, 1.6rem);
}

.header p {
  margin: 1rem auto;
  font-size: clamp(var(--fs-sm), 2.5vw, 1rem);
  max-width: 300px;
}

@media (min-width: 768px) {
  .ori__container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 130px 0; */
    max-width: 700px;
  }
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.slider-wrapper p {
  font-size: var(--fs-md);
  margin-bottom: 12px;
  font-weight: 700;
  color: var(--primary);
}

.range-wrap {
  max-width: 100%;
  width: 600px;

  margin: 40px auto;
  position: relative;
}

.range-value {
  position: absolute;
  /* top: -50%; */
}

@media (min-width: 569px) {
  .range-value {
    top: -50%;
  }
}
.range-value span {
  line-height: 24px;
  text-align: center;

  border: 2px solid var(--gray);
  color: var(--primary);
  font-size: clamp(var(--fs-sm), 2.5vw, 0.85rem);
  font-weight: 600;
  padding: 0 10px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  border-radius: 3px;
}
.range-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #bdbdbd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

input[type="range"] {
  -webkit-appearance: none;
  /* margin: 20px 0; */
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--primary);
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid var(--primary);
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
/* -moz-range-track */
/* -moz-range-thumb */

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid var(--primary);
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--primary);
}

.shadow {
  box-shadow: 1px 1px 10px 5px #eeeeee;
}

.footer {
  width: max-content;
  margin: 1.3rem auto;
  text-align: center;

  border-radius: 5px;
  padding: 2rem 2rem;

  border: 3px solid var(--primary);
}

footer p {
  font-size: clamp(0.6rem, 2.5vw, 1rem);
  font-weight: 500;
}

#totalValueResult {
  font-size: clamp(1.5rem, 3vw, 5rem);
  color: var(--primary);
  margin: 0.5rem 0;
  font-weight: 900;
}

@media (min-width: 768px) {
  .footer-p {
    font-size: 0.1px !important;
    background: #000;
  }
  .footer {
    padding: 2rem 5rem;
  }
  #totalValueResult {
  font-size: 3.7rem
}
}

@media (min-width: 1024px) {
}
