@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap");

:root {
  --primary: hsl(204, 88%, 56%);
  --gray: hsl(0, 0%, 80%);
  --fs-sm: 0.8rem;
  --fs-md: 1rem;
  --fs-lg: 1.2rem;
  --fs-xl: 1.6rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: white;
  min-height: 100vh;
  /* padding: 0 10vh; */
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ori__container {
  width: 100%;
  background: #f1f5f7;
  border-radius: 8px;
  /* margin: 3rem 0; */
  /* padding: 1em; */
}

.header {
  width: 70%;
  margin: 20px auto 10px;
  text-align: center;
  /* padding: 1rem 0 10px; */
}

.header h2 {
  font-size: clamp(1.1rem, 1rem, 10%);
}

.header p {
  margin: 1rem auto;
  font-size: clamp(var(--fs-sm), 1rem, 10%);
  max-width: 300px;
}

@media (min-width: 768px) {
  .ori__container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 130px 0; */
    max-width: 700px;
  }
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  /* padding: 15px 10px; */
  width: 80%;
  margin: auto;
}

.slider-wrapper p {
  font-size: var(--fs-sm);
  font-weight: 700;
  color: var(--primary);
}

.range-wrap {
  max-width: 100%;
  width: 600px;

  margin: 40px auto;
  position: relative;
}

.range-value {
  position: absolute;
  /* top: -50%; */
}

@media (min-width: 569px) {
  .range-value {
    top: -50%;
  }
}
.range-value span {
  line-height: 24px;
  text-align: center;

  border: 3px solid var(--gray);
  color: var(--primary);
  font-size: var(--fs-sm);
  font-weight: 600;
  padding: 0 10px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  border-radius: 3px;
}
.range-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #bdbdbd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

input[type="range"] {
  -webkit-appearance: none;
  /* margin: 20px 0; */
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--primary);
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
/* -moz-range-track */
/* -moz-range-thumb */

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--primary);
}

.shadow {
  box-shadow: 1px 1px 10px 5px #eeeeee;
}

/* .slider-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  width: 80%;
  margin: auto;
}

.slider-wrapper p {
}

.slider-content {
  position: relative;

  width: 100%;
  margin-top: 3rem;
}

.tooltip {
  position: absolute;
  display: block;

  border: 2px solid var(--gray);
  left: 0%;
  transform: translateY(-130%);
  color: var(--primary);
  font-weight: 700;
  padding: 3px 10px;
}

.tooltip::before {
  content: "";
  display: block;
  position: absolute;

  bottom: -19px;
  left: 50%;

  border: 8px solid transparent;
  border-top: 10px solid var(--gray);

  transform: translateX(-50%);
}

.slider {
  width: 100%;
  appearance: none;
  height: 5px;

  border-radius: 3px; */
/* } */

/* .progress {
  position: absolute;
  width: 30px;
  height: 5px;
  background: var(--primary);
  top: 10px;
  border-radius: 3px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  background: hsl(0, 0%, 100%);
  height: 18px;
  width: 18px;
  border: 3px solid var(--primary);
  border-radius: 50%;
  position: relative;
}

.slider::-moz-range-track {
  background: var(--gray);
  height: 5px;
  border-radius: 3px;
}

.slider::-moz-range-thumb {
  appearance: none;
  background: hsl(0, 0%, 100%);
  height: 16px;
  width: 16px;
  border: 2px solid var(--primary);
  border-radius: 50%;
}

.slider::-moz-range-progress {
  -webkit-appearance: none;
  height: 100%;
  background: var(--primary);
  border-radius: 3px;
} */

.footer {
  width: max-content;
  margin: 1.3rem auto;
  text-align: center;

  border-radius: 5px;
  padding: 1.3rem 5rem;

  border: 3px solid var(--primary);
}

footer p {
  font-size: clamp(0.8rem,2.5vw,1rem);
}

#totalValueResult {
  font-size: clamp(1.2rem,2.5vw,2.2rem) ;
  color: var(--primary);
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  .footer-p {
    font-size: 0.1px !important;
    background: #000;
  }
}

@media (min-width: 1024px) {
}
